/*!
* Flaticon library.
*/
$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("../fonts/flaticon.ttf?665b79ed9741c593f81884a711aa9b8a")
            format("truetype"),
        url("../fonts/flaticon.woff?665b79ed9741c593f81884a711aa9b8a")
            format("woff"),
        url("../fonts/flaticon.woff2?665b79ed9741c593f81884a711aa9b8a")
            format("woff2"),
        url("../fonts/flaticon.eot?665b79ed9741c593f81884a711aa9b8a#iefix")
            format("embedded-opentype"),
        url("../fonts/flaticon.svg?665b79ed9741c593f81884a711aa9b8a#flaticon")
            format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "correct": "\f101",
    "romantic-date": "\f102",
    "valentines-day-on-daily-calendar": "\f103",
    "love-calendar": "\f104",
    "star-on-daily-calendar-page": "\f105",
    "music-spectacle-day-on-calendar-page": "\f106",
    "calendar": "\f107",
    "music-disc-with-white-details": "\f108",
    "music-disc-with-white-curve-details": "\f109",
    // Acetate logo.
        "vintage-music-disc-on-player": "\f10a",
    "music-disc": "\f10b",
    "disc-jockey-digital-controllers": "\f10c",
    "music-album": "\f10d",
    "calendar-1": "\f10e",
    "add": "\f10f",
    "calendar-2": "\f110"
);

.flaticon-correct:before {
    content: map-get($flaticon-map, "correct");
}
.flaticon-romantic-date:before {
    content: map-get($flaticon-map, "romantic-date");
}
.flaticon-valentines-day-on-daily-calendar:before {
    content: map-get($flaticon-map, "valentines-day-on-daily-calendar");
}
.flaticon-love-calendar:before {
    content: map-get($flaticon-map, "love-calendar");
}
.flaticon-star-on-daily-calendar-page:before {
    content: map-get($flaticon-map, "star-on-daily-calendar-page");
}
.flaticon-music-spectacle-day-on-calendar-page:before {
    content: map-get($flaticon-map, "music-spectacle-day-on-calendar-page");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-music-disc-with-white-details:before {
    content: map-get($flaticon-map, "music-disc-with-white-details");
}
.flaticon-music-disc-with-white-curve-details:before {
    content: map-get($flaticon-map, "music-disc-with-white-curve-details");
}
.flaticon-vintage-music-disc-on-player:before {
    content: map-get($flaticon-map, "vintage-music-disc-on-player");
}
.flaticon-music-disc:before {
    content: map-get($flaticon-map, "music-disc");
}
.flaticon-disc-jockey-digital-controllers:before {
    content: map-get($flaticon-map, "disc-jockey-digital-controllers");
}
.flaticon-music-album:before {
    content: map-get($flaticon-map, "music-album");
}
.flaticon-calendar-1:before {
    content: map-get($flaticon-map, "calendar-1");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-calendar-2:before {
    content: map-get($flaticon-map, "calendar-2");
}
