@font-face {
    font-family: LibreBarcode;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/LibreBarcode39Text-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Sail;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Sail-Regular.ttf) format("truetype");
}

@font-face {
    font-family: TrainOne;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/TrainOne-Regular.ttf) format("truetype");
}
