// Body
$body-bg: #ECEFF1;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Acetate Theme Colors
$ac-black: #263238;
$ac-white: #ECEFF1;
$ac-primary: #4DB6AC;
$ac-light-primary: #136c83;
$ac-secondary: #455A64;
$ac-accent: #71F79F;
$ac-error: #F42272;
$ac-info: #32CBFF;
$ac-success: #BAFF29;
$ac-warning: #FEC601;
$ac-yellow: #DBFE87;

// Colors
$white: #fff;
$black: #000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;