// Body
$body-bg: #eceff1;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Acetate Theme Colors
$ac-black: #263238;
$ac-white: #eceff1;

$ac-light-primary: #455a64;
$ac-light-secondary: #136c83;
$ac-light-info: #2196f3;
$ac-light-cards-bg: #fff;
$ac-light-contrast-bg: #e0f2f1;

$ac-dark-primary: #4db6ac;
$ac-dark-secondary: #eceff1;
$ac-dark-info: #dafe86;
$ac-dark-cards-bg: #0a3d49;
$ac-dark-contrast-bg: #006064;

$ac-accent: #71f79f;
$ac-error: #f42272;
$ac-info: #32cbff;
$ac-success: #baff29;
$ac-warning: #fec601;

// More colors
$white: #fff;
$black: #000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
