// Body
$body-bg: #ECEFF1;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Acetate Theme Colors
$ac-black: #263238;
$ac-white: #ECEFF1;

$ac-light-primary: #455A64;
$ac-light-secondary: #136c83;
$ac-light-info: #2196F3;
$ac-light-cards-bg: #FFF;
$ac-light-contrast-bg: #e0f2f1;
$ac-light-loading-color: hsl(174, 42%, 51%, 0.4);

$ac-dark-primary: #4db6ac;
$ac-dark-secondary: #ECEFF1;
$ac-dark-info: rgb(218, 254, 134);
$ac-dark-cards-bg: rgba(19, 109, 131, 0.25);
$ac-dark-contrast-bg: #006064;
$ac-dark-loading-color: hsl(78, 98%, 76%, 0.6);

$ac-accent: #71F79F;
$ac-error: #F42272;
$ac-info: #32CBFF;
$ac-success: #BAFF29;
$ac-warning: #FEC601;

// More colors
$white: #fff;
$black: #000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;