@charset "UTF-8";
/*!
* Flaticon library.
*/
@font-face {
  font-family: "flaticon";
  src: url(/fonts/flaticon.ttf?4ea60ea9f13aede9dd320afc22c12bf1) format("truetype"), url(/fonts/flaticon.woff?ada09e379bff84de758fd294ac1116df) format("woff"), url(/fonts/flaticon.woff2?05bc835a2298cb5c078c5025cc9bac35) format("woff2"), url(/fonts/flaticon.eot?9f60c777657b74c67e59f89fd634b05b) format("embedded-opentype"), url(/fonts/flaticon.svg?1716980cb4f7e11095853900fe6d8869) format("svg");
}
i[class^=flaticon-]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-correct:before {
  content: "";
}

.flaticon-romantic-date:before {
  content: "";
}

.flaticon-valentines-day-on-daily-calendar:before {
  content: "";
}

.flaticon-love-calendar:before {
  content: "";
}

.flaticon-star-on-daily-calendar-page:before {
  content: "";
}

.flaticon-music-spectacle-day-on-calendar-page:before {
  content: "";
}

.flaticon-calendar:before {
  content: "";
}

.flaticon-music-disc-with-white-details:before {
  content: "";
}

.flaticon-music-disc-with-white-curve-details:before {
  content: "";
}

.flaticon-vintage-music-disc-on-player:before {
  content: "";
}

.flaticon-music-disc:before {
  content: "";
}

.flaticon-disc-jockey-digital-controllers:before {
  content: "";
}

.flaticon-music-album:before {
  content: "";
}

.flaticon-calendar-1:before {
  content: "";
}

.flaticon-add:before {
  content: "";
}

.flaticon-calendar-2:before {
  content: "";
}

/*!
* Custom Styles
* by Axel Duret
* Released under the MIT License.
*/
::-moz-selection {
  color: #eceff1;
  background: #4db6ac;
}
::selection {
  color: #eceff1;
  background: #4db6ac;
}

.v-application .my-0 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.v-input__prepend-outer .v-icon {
  margin-right: 0.5rem;
}

.v-input__append-outer .v-icon {
  margin-left: 0.5rem;
}

.v-stepper__content {
  padding: 0;
}

.no-uppercase {
  text-transform: none;
}

.events_links {
  text-decoration: none;
}

.events_links:hover {
  text-decoration: underline;
}

.comments_links {
  text-decoration: underline;
}

.comments_links:hover {
  text-decoration: underline;
}

/*!
* Custom Vuetify Light Theme
* by Axel Duret
* Released under the MIT License.
*/
.theme--light.v-application,
.theme--light.v-app-bar.v-toolbar.v-sheet,
.theme--light.v-footer,
.theme--light.v-navigation-drawer {
  background-color: #eceff1;
}

.theme--light.v-tabs-items {
  background-color: #eceff1;
}

.theme--light.v-icon {
  color: #455a64;
}

.theme--light.v-sheet.v-card {
  background-color: #fff;
}

.theme--light .v-list-item :not(.v-list-item--active) :not(.v-list-item--disabled),
.theme--light .v-list-item__title {
  color: #136c83;
}

.theme--light.v-expansion-panels .v-expansion-panel {
  color: #455a64;
  background-color: #fff;
}

.theme--light.v-expansion-panels .v-expansion-panel::before {
  box-shadow: none;
}

.theme--light.v-data-table {
  background-color: transparent;
}

.theme--light.v-picker__body {
  background: #e0f2f1;
}

.theme--light.v-divider {
  background-color: #e0f2f1;
  color: #e0f2f1;
}

/*!
* Custom Vuetify Dark Theme
* by Axel Duret
* Released under the MIT License.
*/
.theme--dark.v-application,
.theme--dark.v-app-bar.v-toolbar.v-sheet,
.theme--dark.v-footer,
.theme--dark.v-navigation-drawer {
  background-color: #263238;
}

.theme--dark.v-tabs-items {
  background-color: #263238;
}

.theme--dark.v-icon {
  color: #eceff1;
}

.theme--dark.v-sheet.v-card {
  background-color: #0a3d49;
}

.theme--dark .v-list-item :not(.v-list-item--active) :not(.v-list-item--disabled),
.theme--dark .v-list-item__title {
  color: #4db6ac;
}

.theme--dark.v-expansion-panels .v-expansion-panel {
  color: #4db6ac;
  background-color: #0a3d49;
}

.theme--dark.v-expansion-panels .v-expansion-panel::before {
  box-shadow: none;
}

.theme--dark.v-data-table {
  background-color: transparent;
}

.theme--dark.v-picker__body {
  background: #006064;
}

.theme--dark.v-pagination .v-pagination__navigation,
.theme--dark.v-pagination .v-pagination__item {
  background: #0a3d49;
}

.theme--dark.v-divider {
  background-color: #006064;
  color: #006064;
}
